<body>
    <main>
        <div>
            <a href="/nutrition/new"><button>Create New Nutrition</button></a>
            <% for (nutrition of nutritions) { %>
                <article>
                    <a href="/nutrition/<%= nutrition._id %>">
                        <h2>
                            <%= nutrition.calories %> 
                            <%= nutrition.protein %> 
                            <%= nutrition.carbs %> 
                            <%= nutrition.fats %> 
                        </h2>
                    </a>
                </article>
            <% } %>
        </div>
    </main>
</body>