<main>
    <div>
        <article>
        <%= meal.image %>
            <h3>Caption: <%= meal.caption %></h3>
            <h3>Date: <%= meal.date %></h3>
            
           
            <h3>Nutrition Details:</h3>
            <ul>
                <li>Calories: <%= meal.nutrition.calories %></li>
                <li>Protein: <%= meal.nutrition.protein %></li>
                <li>Carbs: <%= meal.nutrition.carbs %></li>
                <li>Fats: <%= meal.nutrition.fats %></li>
            </ul>

            <a href="/meal/<%= meal._id %>/edit"><button>Edit</button></a>
            <form action="/meal/<%= meal._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
            <a href="/meal/"><button>Back to Index</button></a>
        </article>
    </div>
</main>