<main class="background">
    <div class="details-container"> 
        <h2> <%= meal.caption %> </h2>
        <form action="/meal/<%= meal._id %>?_method=PUT" method="post" class="edit-form">
            <fieldset>
                <ul class="form-list">
               
                </legend>
                <label>
                    Date: <input type="text" name="date" value="<%= meal.date %>"
                        placeholder="enter date" />
                </label>
                <label>
                    Caption: <input type="text" name="caption" value="<%= meal.caption %>"
                        placeholder="enter caption" />
                </label>
                <label>
                   Image: <input type="text" name="image" value="<%= meal.image %>"
                        placeholder="enter img" />
                </label>

                <label>
                    Calories: <input type="text" name="calories" value="<%= meal.calories %>"
                    placeholder="enter calories" />
                </label>
                <label>
                    Protein: <input type="text" name="protein" value="<%= meal ? meal.protein : '' %>"
                    placeholder="enter protein" />
                </label>
                <label>
                    Carbs: <input type="text" name="carbs" value="<%= meal.carbs %>"
                    placeholder="enter carbs" />
                </label>
                <label>
                    Fats: <input type="text" name="fats" value="<%= meal ? meal.fats : '' %>"
                    placeholder="enter fats" />
                </label>
            </ul>
            </fieldset>
            <input type="submit" value="Update <%= meal.caption %>" class="btn-pink"/>
        </form>
    </div>
</main>