<main>
    <div>
        <form action="/meal/<%= meal._id %>?_method=PUT" method="post">
            <fieldset>
                <legend>Edit: <%= meal.caption %>
                </legend>
                <label>
                    Date: <input type="text" name="date" value="<%= meal.date %>"
                        placeholder="enter date" />
                </label>
                <label>
                    Caption: <input type="text" name="caption" value="<%= meal.caption %>"
                        placeholder="enter caption" />
                </label>
                <label>
                   Image: <input type="text" name="image" value="<%= meal.image %>"
                        placeholder="enter img" />
                </label>

                <label>
                    Calories: <input type="text" name="calories" value="<%= meal.nutrition.calories %>"
                    placeholder="enter calories" />
                </label>
                <label>
                    Protein: <input type="text" name="protein" value="<%= meal.nutrition ? meal.nutrition.protein : '' %>"
                    placeholder="enter protein" />
                </label>
                <label>
                    Carbs: <input type="text" name="carbs" value="<%= meal.nutrition.carbs %>"
                    placeholder="enter carbs" />
                </label>
                <label>
                    Fats: <input type="text" name="fats" value="<%= meal.nutrition ? meal.nutrition.fats : '' %>"
                    placeholder="enter fats" />
                </label>
            </fieldset>
            <input type="submit" value="Update <%= meal.caption %>" />
        </form>
    </div>
</main>