<main class="background">
    <div class="details-container">
            <article class="details-article">
            <h3>Caption: <%= meal.caption %></h3>
            <img src="<%= meal.image %>" alt="Meal Image" class="meal-image">
            <div class="details">
               
                <h3>Date:  <%= meal.date.toLocaleDateString() %></h3>
                <h3>Nutrition Details:</h3>
                <ul>
                    <li>Calories: <%= meal.calories %> g</li>
                    <li>Protein: <%= meal.protein %> g</li>
                    <li>Carbs: <%= meal.carbs %> g</li>
                    <li>Fats: <%= meal.fats %> g</li>
                </ul>
            </div>
         
        <div class="form-container">
                <a href="/meal/<%= meal._id %>/edit" class="btn-pink">Edit</a>
                <form action="/meal/<%= meal._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn-pink" />
                </form>
       
     </div>
        </article>
    </div>
</main>
